@font-face {
  font-family: "Impact";
  src: url("../fonts/impact.ttf") format("truetype");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-display: swap;
  font-family: "Poppins";
  font-style: normal;
  font-weight: 300;
  src: url("../fonts/poppins-v24-latin-300.woff2") format("woff2");
}

@font-face {
  font-display: swap;
  font-family: "Poppins";
  font-style: normal;
  font-weight: 400;
  src: url("../fonts/poppins-v24-latin-regular.woff2") format("woff2");
}

@font-face {
  font-display: swap;
  font-family: "Poppins";
  font-style: normal;
  font-weight: 500;
  src: url("../fonts/poppins-v24-latin-500.woff2") format("woff2");
}

@font-face {
  font-display: swap;
  font-family: "Poppins";
  font-style: normal;
  font-weight: 600;
  src: url("../fonts/poppins-v24-latin-600.woff2") format("woff2");
}

/* ====== base theme (light by default) ====== */
:root {
  /* ------- fonts ------- */
  --font-main: "Poppins", sans-serif;
  --font-accent: "Impact", sans-serif;

  /* ======= light theme colors ======= */
  --color-bg: #f0f0f0;
  --color-text: #292929;
  --color-accent: #00b068;
  --color-hover: #009156;
  --color-light: #bcdfd1;
  --color-dark: #e4e5e6;
  --color-hover-alt: #bbbbbb;
  --color-error: #e74a3b;
}

/* ======= dark theme override ======= */

.dark-theme {
  --color-bg: #292929;
  --color-text: #f0f0f0;
  --color-accent: #14c57c;
  --color-light: #204136;
  --color-dark: #2a2d32;
  --color-hover-alt: #3b3f45;
}

body {
  font-family: var(--font-main);
  color: var(--color-text);
  background-color: var(--color-bg);
  line-height: 1.5;
  margin: 0;
  overflow-x: hidden;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

button {
  cursor: pointer;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

/* ----------------------------- */
/* ------- common styles ------- */

.container {
  width: 100%;
  max-width: 1280px;
  padding: 0 20px;
  margin: 0 auto;
}

/* .section-title {
  font-size: 52px;
  font-weight: 700;
  text-align: center;
  margin-bottom: 20px;
}

.section-text {
  text-align: center;
  max-width: 600px;
  margin: 0 auto;
} */

@media screen and (min-width: 360px) {
  .container {
    max-width: 100%;
    padding: 0 20px;
  }
}

@media screen and (min-width: 768px) {
  .container {
    padding: 0 32px;
  }
}

@media screen and (min-width: 1280px) {
  .container {
  }
}

/* ---------------------- */
/* ------- header ------- */

.header {
  background-color: var(--color-light);
  padding: 20px 0;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.05);
}

.nav-list {
  display: flex;
  gap: 24px;
  list-style: none;
  justify-content: center;
}

@media screen and (min-width: 360px) {
}

@media screen and (min-width: 768px) {
}

@media screen and (min-width: 1280px) {
}

/* --------------------------- */
/* ------- mobile menu ------- */

/* ----------------------- */
/* ------- section ------- */

@media screen and (min-width: 360px) {
}

@media screen and (min-width: 768px) {
}

@media screen and (min-width: 1280px) {
}

/* ----------------------- */
/* ------- section ------- */

@media screen and (min-width: 360px) {
}

@media screen and (min-width: 768px) {
}

@media screen and (min-width: 1280px) {
}

/* ----------------------- */
/* ------- section ------- */

@media screen and (min-width: 360px) {
}

@media screen and (min-width: 768px) {
}

@media screen and (min-width: 1280px) {
}

/* ----------------------- */
/* ------- section ------- */

@media screen and (min-width: 360px) {
}

@media screen and (min-width: 768px) {
}

@media screen and (min-width: 1280px) {
}

/* ----------------------- */
/* ------- section ------- */

@media screen and (min-width: 360px) {
}

@media screen and (min-width: 768px) {
}

@media screen and (min-width: 1280px) {
}

/* ----------------------- */
/* ------- section ------- */

@media screen and (min-width: 360px) {
}

@media screen and (min-width: 768px) {
}

@media screen and (min-width: 1280px) {
}

/* ----------------------- */
/* ------- section ------- */

@media screen and (min-width: 360px) {
}

@media screen and (min-width: 768px) {
}

@media screen and (min-width: 1280px) {
}

/* ---------------------- */
/* ------- footer ------- */

.footer {
  border-top: 1px solid #e4e5e6;

  background-color: var(--color-bg);
  padding: 40px 16px;
  font-family: var(--font-main);
  min-width: 320px;
}

.footer__container {
  display: flex;
  flex-direction: column;
}

.footer__top {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 32px;
  width: 100%;
  margin-bottom: 40px;
}

.footer__logo {
  font-family: "Impact", sans-serif;

  font-weight: 400;
  font-size: 32px;
  line-height: 1;
  letter-spacing: 0.05em;
  text-transform: uppercase;
  text-decoration: none;
  color: var(--color-text);
}

.footer__logo-accent {
  color: var(--color-accent);
}

.footer__socials {
  list-style: none;
  padding: 0;
  margin: 0;
  display: flex;
  flex-direction: column;
  gap: 24px;
}

.footer__socials a {
  position: relative;

  color: var(--color-text);
  text-decoration: none;

  font-weight: 300;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.03em;

  transition: color 0.3s ease;
}

.footer__socials a:hover {
  color: var(--color-accent);
}

.footer__socials a::after {
  content: "";
  position: absolute;
  left: 0;
  bottom: -2px;
  width: 0;
  height: 1px;
  background-color: var(--color-accent);
  transition: width 0.3s ease;
}

.footer__socials a:hover::after {
  width: 100%;
}

.footer__copy {
  font-weight: 300;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.03em;
  text-align: center;
  margin: 0 auto;
}

@media screen and (min-width: 360px) {
  .footer {
    padding: 40px 24px;
  }
}

@media screen and (min-width: 768px) {
  .footer__socials {
    flex-direction: row;
    gap: 40px;
  }

  .footer__copy br {
    display: none;
  }

  .footer__copy {
    align-self: flex-end;
    text-align: right;
    margin: 0;
  }
}

@media screen and (min-width: 1280px) {
  .footer__top {
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
  }
}

/* ---------------------------- */
/* ------- modal window ------- */

@media screen and (min-width: 360px) {
}

@media screen and (min-width: 768px) {
}

@media screen and (min-width: 1280px) {
}

/* ---------------------------- */
/* ---------------------------- */
